#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.App {
  height: 86vh;
  width: 86vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-container {
    display: flex;
    height: 100%;
}